.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  padding: 15px 30px;
  color: white;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
.nav-links a:hover {
  color: yellow;
}