body {
    background-color: #f4f8fb;
  font-family: Arial;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #0a74da;
  color: white;
  padding: 15px;
}
.nav-links a {
  margin: 10px;
  color: white;
  text-decoration: none;
}
.container {
  padding: 20px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: auto;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
}

body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}